@{
    ViewBag.Title = "About";
}
@section breadcrumb {
<li>@Html.ActionLink((string)ViewBag.Title,"About","Home")</li>    
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<h3>@ViewBag.Timer</h3>

<p>Use this area to provide additional information.</p>

@Html.ActionLink(" ","Index",null,new { @class="btn btn-info", data_name = "Andrew" })
<a href="@Url.Action("Index")" data-name="Andrew" class="btn btn-info"></a>
